/* 
    Document   : guessWord
    Created on : Feb 9, 2010, 8:40:52 PM
    Author     : Kamurai
    Description:
        Purpose of the stylesheet follows.
*/

/* 
   TODO customize this sample style
   Syntax recommendation http://www.w3.org/TR/REC-CSS2/
*/

root { 
    display: block;
}

.actualWordStyle
{
    font-family: serif; font-size: 20px; font-weight: bold; color: orange;
}

.currentWordStyle
{
    font-family: fantasy; font-size: 26px; font-weight: bold; color: blue;
}