/* 
    Document   : MyStyleSheet
    Created on : Jan 11, 2010, 2:21:49 PM
    Author     : User_2
    Description:
        Purpose of the stylesheet follows.
*/

/* 
   TODO customize this sample style
   Syntax recommendation http://www.w3.org/TR/REC-CSS2/
*/

root { 
    display: block;
}

p {
    font-family: serif;
    font-size: 36px;
    color: red;
}

