/* 
    Document   : wa2ss
    Created on : Jan 25, 2010, 6:13:52 PM
    Author     : Kamurai
    Description:
        Purpose of the stylesheet follows.
*/

/* 
   TODO customize this sample style
   Syntax recommendation http://www.w3.org/TR/REC-CSS2/
*/

root { 
    display: block;
}

